<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SotaLogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SotaLogger.sotalogger" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SotaLogger.Properties.Settings>
            <setting name="dbServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="dbUsername" serializeAs="String">
                <value>log4om_user</value>
            </setting>
            <setting name="dbPassword" serializeAs="String">
                <value>Password</value>
            </setting>
        </SotaLogger.Properties.Settings>
        <SotaLogger.sotalogger>
            <setting name="dbServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="dbUsername" serializeAs="String">
                <value>log4om_user</value>
            </setting>
            <setting name="dbPassword" serializeAs="String">
                <value>Password</value>
            </setting>
        </SotaLogger.sotalogger>
    </userSettings>
</configuration>